.header {
  z-index: 100;
}

// .search {
//   position: relative;
//   margin-right: 60px;
// }
// #search {
//   // width: 280px;
//   position: relative;
//   margin-top: -4px;
//   margin-left: 40px;
// }


/* * * SEARCH FORM SLIDE RIGHT STYLE 01 * * */

.sf-slideright {
  margin-top: 10px;
}

.searchinger {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  height: 34px;
  padding: 0 0 0 10px;
  position: absolute;
  width: 0px;
  transition: all .5s;
  margin-left: -628px;
  margin-top: -34px;
}

#butt-on {
  border-radius: 0;
  border: 0 none;
  height: 34px;
  padding: 0;
  margin-left: -664px;
  margin-top: 12px;
  width: 34px;
}

#butt-on:focus ~ .searchinger {
  width: 200px;
  background: #fff;
  cursor: auto;
  font-family: 'hdoicons' !important;
}

.searchinger:focus {
  width: 200px;
  background: #bbb;
  cursor: auto;
}

#search-icon {
    height: 14px;
    margin: 10px auto;
    position: relative;
}

/* * * BUTTON DEFAULT * * */

.btn-danger {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
}

.before::before { 
  content: "|";
  color: white;
  margin-right: 25px;
}


.logo {
  font-family: 'hdoicons' !important;
    speak: none;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.slogan{
  position: relative;
  color: #fffdfd;
  top: -21px;
  margin-left: 51px;
  font-size: 17px;
  font-family: 'hdoicons' !important;
  
}

.fa, fa-cart-arrow-down, fa-1x {
  color: white;

}

// @import "compass/css3";



.navigation {
  list-style: none;
  margin: 0;
  height: 80px;
  background: #4267b2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#4267b2, 2%);
}

@media (min-width: 1000px){
  .container {
      max-width: 1000px;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/**bare navigation header*/
.icon-header{
  position: relative;
  float: right;
  list-style: none;
  margin: 0;
  display: flex;
  margin-top: -61px;
  font-family: 'hdoicons' !important;
}

.icon-header a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.icon-header a:hover {
  background: darken(#d9534f, 2%);
}

@media (min-width: 1000px){
  .container {
      max-width: 1000px;
  }
}

@media all and (max-width: 800px) {
  .icon-header {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .icon-header {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .icon-headern a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .icon-header li:last-of-type a {
    border-bottom: none;
  }
}