
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'/>

<div class="header position-fixed w-100 px-0">
  <div class="#">
    <ul class=" navigation ">
      <a routerLink=""><span class="logo d-block" >Africa Bonnes Affaires</span><br> <label class="slogan">L'idée des bonnes affaires..!</label></a>  
      <li class="sf-slideright">
        <a class="btn btn-danger" id="butt-on" href="#">
          <i class="fa fa-search fa-lg" id="search-icon"></i>
        </a>
        <input class='searchinger' type='search' placeholder='search'/>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-home fa-1x ml-3 d-block"></i>
          <span>Accueil</span>
        </a>
      </li>                     
      <li>
        <a routerLink="/panier"><i class="fa fa-shopping-cart fa-1x ml-5 d-block"></i>
          <span class="before d-block">Panier{{panier.length}}</span></a>
      </li>
      <li>
        <a routerLink="/user-account">
          <i class="fas fa-user-circle ml-5 d-block"></i>
          <span class="before d-block">Compte</span>
        </a>
      </li>
    </ul>
  </div>  
</div>
