<!--<div class="footer">
  <div class="footer-background">
    <ul>
      <li>Histoire</li>
      <li>Apropos</li>
      <li>CGU</li>
      <li>Contact</li>
    </ul>
  </div>
</div>-->

<!--Footer 2-->
<!--Footer-->
<footer class="footer mt-4">
  <div class="container-full">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="icon-social-r">
          <span class="icon mr-sm-3">Retrouver-nous sur</span>
          <a href="#">
            <img src="assets/icon-facebook.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="assets/icon-twitter.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="assets/images/icon-pinterest.png" alt="" class="img-fluid">
          </a>
        </div>
      </div>
      <div  class="row border-footer mt-3">
        <ul class="col-6 col-md-2">
          <li><a href="">Relation Client</a></li>
          <li><a href="">Espace Client</a></li>
          <li><a href="">Compte</a></li>
          <li><a href="">Assistance</a></li>
          <li><a href="">Forum d'entraide</a></li>
          <li><a href="">Boutique en ligne</a></li>
        </ul>
        <ul class="col-6 col-md-2">
          <li><a href="">Fonctionnalités</a></li>
          <li><a href="">Bibliothèques</a></li>
          <li><a href="">Dictionnaire</a></li>
          <li><a href="">Cartes</a></li>
          <li><a href="">Photo / Vidéo</a></li>
          <li><a href="">Bon plan</a></li>
        </ul>
        <ul class="col-6 col-md-2">
          <li><a href="">Neque porro</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Notifications</a></li>
          <li><a href="">Actualités</a></li>
          <li><a href="">Simulateur</a></li>
        </ul>
        <ul class="col-6 col-md-2">
          <li><a href="">Nam libero</a></li>
          <li><a href="">Dignissimos</a></li>
          <li><a href="">Blanditiis praesentium</a></li>
          <li><a href="">Voluptatum deleniti</a></li>
          <li><a href="">Accusantium</a></li>
          <li><a href="">Reprehenderit</a></li>
        </ul>
        <ul class="col-6 col-md-2">
          <li><a href="">Perspiciatis</a></li>
          <li><a href="">Consectetur adipisicing</a></li>
          <li><a href="">Compte</a></li>
          <li><a href="">Nulla pariatur</a></li>
        </ul>
        <ul class="col-6 col-md-2">
          <li><a href="">Services</a></li>
          <li><a href="">Mail</a></li>
          <li><a href="">Agenda</a></li>
          <li><a href="">Contacts</a></li>
          <li><a href="">Le Cloud</a></li>
        </ul>
      </div>
      <div class="row bar-nav">
        <div >
          <a href="#">
            <img src="assets/images/icon-casq.png" alt="" class="img-fluid">
            <span class="span">Forum d'entraide</span>
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/images/icon-basket.png" alt="" class="img-fluid">
            <span class="span">Boutique en ligne</span>
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/images/icon-forum.png" alt="" class="img-fluid">
            <span class="span">Forum d'entraide</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul id="menu-footer">
      <li><a href="#">Informations légales</a></li>
      <li><a href="">Données personnelles</a></li>
      <li><a href="">Les cookies</a></li>
      <li><a href="">&copy; Ausy</a></li>
    </ul>
  </div>
</footer>
