/**
.footer-background {
    // display: flex;
    justify-content: pace-evenly;
    align-items: center;
    margin-top: 40px;
    background-color: #28272c;
    height: 280px;
}

ul {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    list-style-type: none; 
    color: #ffffff;
    margin-bottom: 12px;
    font-size: 16px;
    top: 12px;    
}
**/


/** Footer 2*/

// @import '../../variables';
// @import '../../variables';

.footer {
  background-color: #26445f;
  padding: 1.5rem 0;
  .border-footer {
    padding: 1rem 0;
    border-top: 1px solid white;
  }
  .bar-nav {
    display: flex;
    // justify-content: space-evenly;
    padding: 1rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #26445f;
    // width: 1155px;
    // margin-left: 222px;
    margin-top: -11px;
    padding: 2px;
  }
  list-style:none;
  a, .icon {color: white;}

  ul li{
    list-style: none;
    margin-right: 23px;
  }
  .btn-social {
    border: 1px solid white;
    border-radius: 50%;
  }
}

#menu-footer {

  padding-left: 0;

  li {

    display: inline;

  }

}