.contenair {
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap; 
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #4183d7;
    font-family: 'hdoicons' !important;
}

.welcome {
    display: flex;
    justify-content: center;
    position: relative; 
    top: 90px;
    color: #4183d7;
    font-size: 20px;
    font-weight: bold;
    font-family: 'hdoicons' !important;
}

.shadow:hover {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


.product {
    margin-top: 30px;
    margin-left: 84px;
}

.productBox{
    display: flex;
    background-color: #fff;
    color: white;
    font-size: 16px;
    border: 1px solid #4183d8;
    box-shadow: 8px -40px 134px #f6f6f6;
    padding: 0;
    width: 83%;
    margin: 95px 40px -44px;
}

.cursor {
    cursor: pointer;
}

.color { 
    color: white;
    background-color: #c10a27;
    border-radius: 1.25rem;
}
.color:hover {
    color:  #ffffff;
    background-color: #099e7d;
}

a { 
    color: white;
    cursor: pointer;
    list-style: none;
    text-align: center; 
    font-size: 24px;
}

.img {
    width: 250px;
}



/**Carrousel homepage*/



/**slide à la UNE logo clients*/
.carousel-sli {
    position: relative !important;
    width: 60%;
    margin: auto;
    top: 90px; 
}