.contenair {
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap; 
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #4183d7;
}

.welcome {
    display: flex;
    justify-content: center;
    position: relative; 
    top: 100px;
    color: #4183d7;
    font-size: 20px;
    font-weight: bold;
    font-family: 'hdoicons' !important;
}

.shadow:hover {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


.product {
    // background-color: #000000;
    margin-top: 30px;
    margin-left: 84px;
}

.productBox{
    display: flex;
    background-color: #fff;
    color: white;
    margin-top: 7px;
    font-size: 16px;
    /* flex-wrap: wrap; */
    border: 1px solid #4183d8;
    /* margin: 68px 29px 0; */
    box-shadow: 15px 25px 14px #f6f6f6;
    padding: -3rem;
}

.cursor {
    cursor: pointer;
}

.color { 
    color: white;
    background-color: #c10a27;
    border-radius: 1.25rem;
}
.color:hover {
    color:  #ffffff;
    background-color: #099e7d;
}

a { 
    color: white;
    cursor: pointer;
    list-style: none;
    text-align: center; 
}

.img {
    width: 250px;
}